# =============================================
# Código gerado pelo compilador
# =============================================
dist/

# =============================================
# Dependências
# =============================================
node_modules/

# =============================================
# Arquivos gerados automaticamente pelo npm
# =============================================
package-lock.json
